extends layout

block content
  section
    .container
      .jumbotron
        h1 Snoop!
          p.lead Helping to make WebRTC awesome.
          p
            a.btn.btn-lg.btn-success(href="/auth/github") Github Login

  section
    .container
      .row
        .col-md-12
          h3 Thanks for helping!</h
